
.button-container {
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
    position: relative;
}

.draggable-button {
    position: absolute;
    cursor: grab;
    padding: 10px 20px;
    border: 1px solid #007BFF;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}
/*-------------GENERADOR DE BOTONES----------------*/
body {
    font-family: Arial, sans-serif;
}

#mesa-container {
    width: 100%;
    height: 600px;
    border: 1px solid #ccc;
    position: relative;
}

.mesa {
    width: 80px;
    height: 80px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    line-height: 80px; /* Centrar texto verticalmente */
    position: absolute;
    cursor: move;
}